[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	pushf = push --force-with-lease --force-if-includes
[user]
	email = a.j.sisley@hotmail.com
	name = Andrew Sisley
[core]
	editor = vim
	excludesfile = /home/andy/.gitignore_global
[push]
	default = simple
[rebase]
	autosquash = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

# avoid issues where the cargo-edit tool tries to clone from a repo you do not have WRITE access to.
# we already use SSH for every github repo, and so this puts the clone back to using HTTPS.
[url "https://github.com/rust-lang/crates.io-index"]
  insteadOf = https://github.com/rust-lang/crates.io-index

# avoid issues where the `cargo audit` command tries to clone from a repo you do not have WRITE access to.
# we already use SSH for every github repo, and so this puts the clone back to using HTTPS.
[url "https://github.com/RustSec/advisory-db"]
  insteadOf = https://github.com/RustSec/advisory-db
